body {
	background: url(../img/bg.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	height: 100%;
	width: 100%;
	font-family:'Open Sans', 'Droid Sans', sans-serif;
}

header {
	margin-top: 25px;
	margin-bottom: 100px;
}

header a {
	color: #fff;
	display: inline-block;
	-webkit-transition: .3s;
	        transition: .3s;
}

header a:hover {
	color: #F5F5F5;
	-webkit-transition: .3s;
	        transition: .3s;
}

.header-logo {
	font-family: 'Raleway', 'Open Sans', 'Droid Sans', sans-serif;
	font-weight: 400;
}

.header-logo h1 {
	font-size: 3.75rem;
}

.header-logo h2 {
	font-size: 1.875rem;
}

.header-links {
	text-align: right;
	margin-top: 25px;
}

.header-links .fa {
	font-size: 3rem;
	margin-right: 10px;
}

.header-links .fa.fa-github:hover {
	color: #000;
}
.header-links .fa.fa-android:hover {
	color: #C6ED2D;
}

main {
	margin-bottom: 100px;
}

main .container {
	text-align: center;
}

main .promo-text {
	margin-top: 30px;
	border: 1px solid rgba(0,0,0,0.2);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	text-align: left;
	background-color: #F5F5F5;
	color: #333;
	border-radius: 5px;
}

.promo-text h2{
	font-size: 2rem;
}

.promo-text p {
	font-size: 1.2rem;
}

.promo-text p a {
	color: #08C;
}

footer {
		background-color: rgba(245, 245, 245, 0.5);
		font-size: 1.1rem;
}

footer p {
		color: #333;
}

/*fix for small screen*/	
@media (min-width: 320px) and (max-width: 480px) {
	main .marvel-device.nexus5 {
		width: 280px;
	}
}