body {
	background: url(/img/bg.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	height: 100%;
	width: 100%;
}

header {
	margin-top: 25px;
	margin-bottom: 100px;
}

header a {
	color: #fff;
	display: inline-block;
	-webkit-transition: .3s;
	        transition: .3s;
}

header a:hover {
	color: #333;
	-webkit-transition: .3s;
	        transition: .3s;
}

.header-logo {
	font-family: 'Raleway', 'Open Sans', 'Droid Sans', sans-serif;
	font-weight: 400;
}

.header-logo h1 {
	font-size: 3.75rem;
}

.header-logo h2 {
	font-size: 1.875rem;
}

.header-links {
	text-align: right;
	margin-top: 25px;
}

.header-links .fa {
	font-size: 3rem;
}

.main-promo-slider {
}

.controls {
  position: absolute;
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.controls label {
  display: block;
  float: left;
  margin-right: 10px;
  padding:10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #000;
  opacity: .5;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: opacity .5s;
          transition: opacity .5s;
}

.controls label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5),
#slide6:checked ~ .controls label:nth-of-type(6){
  opacity: .8;
}

.main-promo-slider input[type="radio"] { 
	display: none 
}

.slider {
	position: relative;
	margin: auto;
	height: auto;
}

.slider .img {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
  opacity: 0;
  z-index: 0;
  -webkit-transition: .3s;
	      transition: .3s;
}

.slider img {
	 max-width: 100%;
	 display: block;
   margin-left: auto;
   margin-right: auto
}

#slide1:checked ~ .slider .img1,
#slide2:checked ~ .slider .img2,
#slide3:checked ~ .slider .img3,
#slide4:checked ~ .slider .img4,
#slide5:checked ~ .slider .img5,
#slide6:checked ~ .slider .img6 {
  opacity: 1;
  z-index: 1;
  -webkit-transition: .3s;
	      transition: .3s;
}